//@import "../../../node_modules/picnic/picnic.min.css";

// .app {
//     section {
//       padding-top: 80px
//     }
// }    
  
// .card {
//   padding: 20px
// }

// input {
//   margin-bottom: 10px;
// }

// select {
//   margin-bottom: 10px;
// }

// .pixabayimage {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   width: 90%;
// }

// #daysleft {
//   text-align: center;
// }

// #weathersummary {
//   text-align: center;
// }



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(40, 159, 169), rgb(47, 72, 143));
  font-family: sans-serif;
  color: white;
}
.location,
.temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.temperature {
  flex-direction: column;
}
.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.degree-section span {
  margin: 10px;
  font-size: 30px;
}
.degree-section h2 {
  font-size: 100px;
}

.middlepart{
  display: grid;
  grid-template-areas: 
  "a a a b";
}

.middleleft{
  grid-area: a;
}

.middleright{
  grid-area: b;
}

button {
  background: transparent;
  border: none;
  color: white;
  padding: 6px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px;
  width: p;
  border-radius: 30px;
  align-items: flex-end;
}

form {
  border: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: p;
  border-radius: 30px;
  align-items: flex-end;
}

#destinationimage{
  height: 180px;
  width: 220px;
  margin: 0 10px;
}